/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@import "common";

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.little {
  font-size: smaller;
  color: $gray-600;
}

.table-header {
  font-weight: bold;
}

.trx-balance {
  float: right;
  font-weight: bold;
}

.trx-amount {
  float: right;
}

.positive {
  color: $success;
}

.negative {
  color: $danger;
}

.table {
  display: table;
}

.table100{
  display: table;
  width: 100%;
  border-spacing: 0px 0.7rem;
}

.table-row{
  display: table-row;
}

.data-header > .table-cell {
  font-weight: 600;
}

.data-header > .table-cell:first-child {
  border-top-left-radius: 4px;
  border-left: solid 2px $header-border;
  padding-left: 1rem;
}

.table-cell{
  display: table-cell;
  vertical-align: middle;
}

.table-cell-transaction-caption {
  display: flex;
  width: 100%;
}

.table-cell-transaction-caption > .caption {
  display: flex;
  flex: 0 0 auto;
}

.table-cell-transaction-caption > .taglist {
  display: flex;
  flex: 0 0 auto;
  margin: auto 0 auto auto;
}

.table-cell-transaction-caption > .taglist > span {
  display: flex;
  flex: 0 0 auto;
  margin-left: 0.1em;
  margin-right: 0.1rem;
}

span.tag {
  border: $header-border;
  border-style: solid;
  border-radius: 5px;
  padding: 0 2px 0 2px;
}