{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "OpenIdConnect":
  {
    "Keycloak":
    {
      "ClientId":"",
      "ClientSecret": "",
      "Authority":""
    }
  },
  "CookieExpiration" : 15,
  "AllowedHosts": "*"
}
